<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">hibernatedb</property>
        <property name="connection.password">admin</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        
   		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>	
   		<property name="hibernate.cache.ehcache.net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
   		
        <mapping class="com.example.asso.entity.Student"></mapping>
        <mapping class="com.example.asso.entity.Passport"></mapping>
        <mapping class="com.example.asso.entity.Address"></mapping>
        <mapping class="com.example.asso.entity.Course"></mapping>
   
   
        
   		<mapping class="com.example.inh.entity.Employee"></mapping>
   		<mapping class="com.example.inh.entity.Book"></mapping>
   		<mapping class="com.example.inh.entity.Pen"></mapping>
   		
   		<mapping class="com.example.inh.entity.Animal"></mapping>
   		  		
   		<mapping class="com.example.inh.entity.Pet"></mapping>
   		
   		<mapping class="com.example.inh.entity.Vehicle"></mapping>
   		<mapping class="com.example.inh.entity.Car"></mapping>
   		    
        
    </session-factory>
  </hibernate-configuration>
   